body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient( to bottom right, black, darkblue, blue, skyblue);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 20px;
    margin: 50px 50px;
    display: inline-flex;
    color: white;
}

a:hover {
    color: teal
}

a:visited {
    color: purple
}

/* On screens 400 pixels or less, stack vertically*/
@media  (max-width: 635px){
    ul{
        flex-direction: column;
    }
}

.Goals {
    display: block;
    flex: 1;
}

.Training {
    display: block;
    flex: 1;
}

.Contact {
    display: block;
    flex: 1;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.container3 {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'image text';
    place-items: center;
}
.item-15 {
    grid-area: image;
    padding-left: 250px;
}
.item-16 {
    grid-area: text;
    margin-right: 100px;
}

article {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-style: italic;
}

.container {
    display: grid;
    grid-template-rows: 75px 150px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'header header header' 
    'image1 image2 image3' 
    'blurb1 blurb2 blurb3';
    place-items: center;
}
.item-1 {
    grid-area: header;
    font-size: 25px;
    text-decoration: underline;
}
.item-2 {
    grid-area: image1;
}
.item-3 {
    grid-area: image2;
}
.item-4 {
    grid-area: image3;
}
.item-5 {
    grid-area: blurb1;
    text-align: center;
    margin: 50px;
}
.item-6 {
    grid-area: blurb2;
    text-align: center;
    margin: 50px;
}
.item-7 {
    grid-area: blurb3;
    text-align: center;
    margin: 50px;
}

.container2 {
    display: grid;
    grid-template-rows: 75px 150px 150px; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'header2 header2 header2'
        'image4 image5 image6'
        'blurb4 blurb5 blurb6';
        place-items: center;
}
.item-8 {
    grid-area: header2;
    font-size: 25px;
    text-decoration: underline;
}
.item-9 {
    grid-area: image4;
}
.item-10 {
    grid-area: image5;
}
.item-11 {
    grid-area: image6;
}
.item-12 {
    grid-area: blurb4;
    text-align: center;
    margin: 50px;
}
.item-13 {
    grid-area: blurb5;
    text-align: center;
    margin: 50px;
}
.item-14 {
    grid-area: blurb6;
    text-align: center;
    margin: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}