.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* On screens 400 pixels or less, stack columns vertically instead of horizontally */
@media  (max-width: 400px){
    .banner {
        flex-direction: column;
    }
}
